@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <div>
        <h1>@ViewBag.seriesTitle</h1>
        <h2>@ViewBag.issueNumber</h2>
        <h5>description</h5>
        <div>@Html.Raw(ViewBag.description)</div>
        @if (ViewBag.artists.Length > 0)
        {
            <h5>Artists:</h5>
            <ul>
                @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist</li> 
                }
            </ul>
        }

    </div>
</body>
</html>
